In [1]:
import os

os.environ['JAVA_HOME'] = "C:/Program Files/Java/jdk-11"
os.environ['PYSPARK_PYTHON'] = "C:/Users/usr/anaconda3/envs/pyspark_env/python.exe"
os.environ['PYSPARK_DRIVER_PYTHON'] = "C:/Users/usr/anaconda3/envs/pyspark_env/python.exe"

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [3]:
sc = spark.sparkContext

In [4]:
rdd = sc.parallelize([1, 2, 3, 4, 5])

### **Map()**

In [5]:
rdd_resta = rdd.map(lambda x: x - 1)

rdd_resta.collect()

[0, 1, 2, 3, 4]

In [6]:
rdd_par = rdd.map(lambda x: x % 2 == 0)

rdd_par.collect()

[False, True, False, True, False]

In [7]:
rdd_texto = sc.parallelize(['jose', 'juan', 'lucia'])

In [8]:
rdd_mayuscula = rdd_texto.map(lambda x: x.upper())

rdd_mayuscula.collect()

['JOSE', 'JUAN', 'LUCIA']

In [10]:
rdd_hola = rdd_texto.map(lambda x: 'Hola ' + x)

rdd_hola.collect()

['Hola jose', 'Hola juan', 'Hola lucia']

### **flatMap()**

In [11]:
rdd_cuadrado = rdd.map(lambda x: (x, x ** 2))

rdd_cuadrado.collect()

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

- Aplanamos, no devuelve tuplas dentro del rdd sino que devuelve todo como una lista, como elementos independientes.

In [ ]:
rdd_cuadrado_flat = rdd.flatMap(lambda x: (x, x ** 2)) # Nos devuelve una lista plana, sin tuplas.

rdd_cuadrado_flat.collect()

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [13]:
rdd_mayus = rdd_texto.flatMap(lambda x: (x, x.upper()))

rdd_mayus.collect()

['jose', 'JOSE', 'juan', 'JUAN', 'lucia', 'LUCIA']

### **filter()**